* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: clamp(1rem, 1.5vw, 2rem);
}



#starting-container {
    position: relative;
    padding: 20px;

    width: 50%;
    margin: 10% auto;

    background-color: #fff;

    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

#start-quiz-button {
    margin: 20px 10px;
    padding: 10px 20px;

    width: fit-content;

    font-size: clamp(1rem, 1.5vw, 1.2rem);
    background-color: #045ebe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#start-quiz-button:hover {
    background-color: #218838;
}

#start-quiz-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#start-quiz-button:disabled:hover {
    background-color: #6c757d;
}

#submit-quiz-button {
    margin: 20px 10px;
    padding: 10px 20px;

    width: fit-content;

    font-size: 1.2rem;
    background-color: #045ebe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#submit-quiz-button:hover {
    background-color: #218838;
}

#submit-quiz-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#submit-quiz-button:disabled:hover {
    background-color: #6c757d;
}







#stopwatch {
    margin: 20px 10px;
    padding: 10px 20px;

    width: fit-content;

    font-size: 1.2rem;
    background-color: #045ebe;
    color: white;
    border-radius: 5px;
}

.selected-topics-container {
    margin: 20px;
    max-height: 50vh;
    overflow-y: scroll;
}


.selected-topics-container h2 {
    margin-bottom: 10px;
    color: #007bff;
}

.selected-topics-container ul {
    list-style-type: none;
}

.selected-topics-container li {
    padding: 10px;
    margin-bottom: 5px;
    
    background-color: #e3e2e2;
    border: 4px solid #ddd;
    border-radius: 5px;
}

#question-quantity-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.question-quantity-option {
    padding: 10px;
    margin: 5px;

    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.question-quantity-option:hover {
    background-color: #0056b3;
    transition: background-color 0.2s;
}


.question-quantity-option-selection,
.question-quantity-option-selection:hover {
    background-color: #1500b3;
}







#whole-question-container {
    position: relative;
    padding: 20px;

    width: 80%;
    margin: 10% auto;

    background-color: #fff;

    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 20px;

    background-color: #e3e2e2;
    border: 4px solid #ddd;
    border-radius: 5px;
}


.question {
    margin-bottom: 20px;
    color: #007bff;
}

.answer-button-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr)); /* Adjust min width */
    gap: 10px;
    justify-content: center;
    
}

#question-number {
    margin: 20px 10px;
    padding: 10px 20px;

    width: fit-content;

    font-size: 1.2rem;
    background-color: #045ebe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.fraction sup {
    display: block;
    font-size: 0.75em;
    line-height: 1em;
}

.fraction sub {
    display: block;
    font-size: 0.75em;
    line-height: 1em;
}

.question-option {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;

    padding: 10px;
    margin: 5px;
    width: 80%;
    max-width: 300px;

    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.question-option:hover {
    background-color: #0056b3;
    transition: background-color 0.2s;
}

.next-previous-button-container {
    display: grid;
    grid-template-areas: "previous-button next-button";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.next-button {
    grid-area: next-button;
    padding: 10px;
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #218838; /* Darker Green */
    transition: background-color 0.2s;
}

.next-button:disabled {
    background-color: #6c757d;
}

.next-button:disabled:hover {
    background-color: #6c757d;
    cursor: not-allowed;
}


.previous-button {
    grid-area: previous-button;
    padding: 10px;
    background-color: #c53d4b; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.previous-button:hover {
    background-color: #b71a2a; 
    transition: background-color 0.2s;
}

.previous-button:disabled {
    background-color: #6c757d;
}

.previous-button:disabled:hover {
    background-color: #6c757d;
    cursor: not-allowed;
}

.clue-button {
    margin: 5px 10px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clue-button:hover {
    background-color: #0056b3;
    transition: background-color 0.2s;
}

.clue-div {
    margin-top: 20px;
    font: 1.2rem Arial, sans-serif;
}

.question-quantity-selection {
    background-color: #0a3461;
}

.question-quantity-selection:hover {
    background-color: #0a3461;
}

.selected-option {
    background-color: #2510c5;
}

.selected-option:hover {
    background-color: #2510c5;
}

